* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 80px;
  background-color: #ffffff;
  position: relative;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 40px;
  height: auto;
}

.logo-text {
  display: flex;
  flex-direction: column;
  line-height: 1;
  gap: 10px;
  text-align: center;
}

.logo-text span:first-child {
  font-size: 24px;
  font-weight: 600;
  color: #000000;
}

.logo-text span:last-child {
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

/* Hide default checkbox */
#menu-toggle {
  display: none;
}

/* Hamburger icon */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #0b153c;
  border-radius: 2px;
  transition: all 0.3s;
}

.hamburger span:nth-child(2) {
  width: 15px;
}
.hamburger span:nth-child(3) {
  width: 20px;
}

/* Navigation Links */
.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
}

.nav-links a {
  text-decoration: none;
  color: #0b153c;
  font-size: 16px;
}

.cta-button {
  padding: 12px 20px;
  background-color: transparent;
  color: #00296d;
  border-radius: 8px;
  border: 1px solid #00296d;
  text-decoration: none;
  font-weight: 500;
  transition: background 0.3s;
}

.cta-button:hover {
  background-color: #0171a3;
}

/* Responsive */
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
  .cta-button {
    display: none;
  }
  .navbar {
    justify-content: space-evenly;
    padding: 15px;
  }
  .logo-text {
    margin-left: 60px;
  }

  .logo {
    margin-right: 60px;
  }

  .logo-text span:first-child {
    font-size: 15px;
    font-weight: 400;
  }

  .logo-text span:last-child {
    font-size: 12px;
    font-weight: 300;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
    transition: all 5s;
  }

  /* Show menu when checkbox is checked */
  #menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
    z-index: 9999999;
    background-color: white;
  }

  .cta-button {
    margin-top: 10px;
  }
}

.hero-section {
  padding: 25px 80px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  position: relative;
}

.hero-text span {
  display: block;
  font-weight: 400;
  font-size: 20px;
  color: #2977d5;
  margin: 50px 0;
}

.hero-text h1 {
  /* font-style: SemiBold; */
  margin-bottom: 24px;
  font-size: 64px;
  font-weight: 600;
  line-height: 100%;
}
.submit button {
  background-color: #44c6e9;
  border: none;
  box-shadow: 5px 5px 10px 2px #2977d5;
}

.circle {
  margin-top: 40px;
  width: 793px;
  height: 793px;
  border-radius: 50%;
  background-image: linear-gradient(#d4e4f4, #44c6e9, #2977d5, #00296d);
  /* background-color: black; */
  z-index: -1;
  position: relative;
  box-shadow: 5px 5px 10px 5px rgba(102, 102, 102, 0.2);
}

.hero-image img {
  position: absolute;
  z-index: 9999;
  max-width: 525px;
  width: 100%;
  top: 150px;
  border-radius: 10px;
  right: 200px;
}

@media (max-width: 768px) {
  .circle {
    width: 535px;
    height: 535px;
    position: absolute;
    top: -40px;
    left: 0;
    z-index: -1;
  }
  .hero-image img {
    width: 250px;
    left: 53px;
  }
  .hero-section {
    flex-direction: column-reverse;
    padding: 20px;
  }
}
